{% extends "home.html" %}
{% load staticfiles %}

{% block pestana %}

	<table class="table table-striped table-hover table-condensed" >
  	<tr>
    	<th>Etiquetas</th>
    	<th>Editar</th> 
    	<th>Borrar</th>
    </tr>
	{% for etiqueta in etiquetas %}
    <form action="/guardar_etiquetas/" method="get">
      <tr>
		<td>
			<div class ='{{etiqueta.nombre}}'>{{etiqueta.nombre}}</div>
			<div class ='{{etiqueta.nombre}}Input' style = "display:none;"><input type="text" name="{{etiqueta.nombre}}_nombre" value={{etiqueta.nombre}} size=15></div>
		</td>
		<td>
			<div id="editar_{{etiqueta.nombre}}">
				<a onclick="editar('{{etiqueta.nombre}}')"><img style="width: 40px;" src="{% static "image/editar.png" %}"  class="img-rounded"></a>
			</div>
			<div id="guardar_{{etiqueta.nombre}}" style="display: none;">
				<input style="background-image: url({% static "image/guardar.jpeg" %}); background-repeat: no-repeat; background-size: 100% 100%; color: white; height: 48px; width: 48px; border: hidden;" type="submit" value=" ">
			</div>
		</td>
		<td><a href="/eliminar_etiqueta/?pk={{etiqueta.pk}}"><img style="width: 48px;" src="{% static "image/trash.png" %}" class="img-rounded"></a></td>
	   </tr>
	</form>	    	    
    {% endfor %}
    
    <form action="/guardar_nueva_etiqueta/" method="get">    
    <tr>
		<td>
			<div style = "display:hide;" ><input type="text" name="nombre_etiqueta"  size=15 required/></div>
		</td>
		<td><div id="guardar_nuevo" style="display: hide;">
				<input style="background-image: url({% static "image/guardar.jpeg" %}); background-repeat: no-repeat; background-size: 100% 100%; color: white; height: 48px; width: 48px; border: hidden;" type="submit" value=" ">
			</div>
		</td>
		<td></td>
    </tr>
   	</form>	  

	</table>
 <script type="text/javascript">
	function editar(opcion){
		{% for etiqueta in etiquetas %}		
				document.getElementsByClassName("{{etiqueta.nombre}}"+"Input")[0].style.display = 'none';
				document.getElementsByClassName("{{etiqueta.nombre}}")[0].style.display = 'block';
				document.getElementById("editar_"+"{{etiqueta.nombre}}").style.display = 'block';		
				document.getElementById("guardar_"+"{{etiqueta.nombre}}").style.display = 'none';		
		{% endfor %}		
		document.getElementsByClassName(opcion)[0].style.display = 'none';
		document.getElementsByClassName(opcion+"Input")[0].style.display = 'block';			
		document.getElementById("guardar_"+opcion).style.display = 'block';		
		document.getElementById("editar_"+opcion).style.display = 'none';		
	}
</script>

{{error_message}}
{% endblock %}
