{% extends "home.html" %}
{% load staticfiles %}

{% block pestana %}
	<br/>
	Lista de Nutrientes
	<br/>
	<table class="table table-striped table-hover table-condensed" >
  	<tr>
    	<th>Nutrientes</th>
    	<th>Calorias  por Gramo</th>
    	<th>Editar</th> 
    	<th>Borrar</th>
    </tr>
	{% for nutriente in nutrientes %}
    <form action="/guardar_nutrientes/" method="get">

      <tr>
		<td>
			<div class ='{{nutriente.nombre}}'><a href="etiquetas/{{nutriente.nombre}}/" >{{nutriente.nombre}}</a></div>
			<div class ='{{nutriente.nombre}}Input' style = "display:none;"><input type="text" name="{{nutriente.nombre}}_nombre" value={{nutriente.nombre}} size=15></div>
		</td>
		<td>
			<div class ='{{nutriente.nombre}}'><a href="etiquetas/{{nutriente.nombre}}/" >{{nutriente.kcalxgramo}}</a></div>
			<div class ='{{nutriente.nombre}}Input' style = "display:none;" ><input type="text" name="{{nutriente.nombre}}_kcalxgramo" value={{nutriente.kcalxgramo}} size=15></div>
		</td>
		<td>
			<div id="editar_{{nutriente.nombre}}">
				<a onclick="editar('{{nutriente.nombre}}')"><img style="width: 40px;"src="http://www.zoanthus.es/imgs/encuesta.png"  class="img-rounded"></a>
			</div>
			<div id="guardar_{{nutriente.nombre}}" style="display: none;">
				<input style="background-image: url({% static "image/guardar.jpeg" %}); background-repeat: no-repeat; background-size: 100% 100%; color: white; height: 48px; width: 48px; border: hidden;" type="submit" value=" ">
			</div>
		</td>
		<td><a href="http://127.0.0.1:8000/eliminar_nutriente/?pk={{nutriente.pk}}"><img style="width: 48px;" src="{% static "image/trash.png" %}" class="img-rounded"></a></td>
	   </tr>
	</form>	    	    
    {% endfor %}
    
	<form action="/guardar_nuevo_nutriente/" method="get">    
    <tr>
		<td>
			<div style = "display:hide;" ><input type="text" name="nombre_nutriente"  size=15 required/></div>
		</td>
		<td>
			<div style = "display:hide;" ><input type="text" name="nombre_kcalxgramo" value=0 size=5 required/></div>
		</td>
		<td><div id="guardar_nuevo" style="display: hide;">
				<input style="background-image: url({% static "image/guardar.jpeg" %}); background-repeat: no-repeat; background-size: 100% 100%; color: white; height: 48px; width: 48px; border: hidden;" type="submit" value=" ">
			</div>
			
		</td>
		<td></td>
    </tr>
   	</form>	    	    


	</table>
 <script type="text/javascript">
	function editar(opcion){
		{% for nutriente in nutrientes %}		
				document.getElementsByClassName("{{nutriente.nombre}}"+"Input")[0].style.display = 'none';
				document.getElementsByClassName("{{nutriente.nombre}}")[0].style.display = 'block';
				document.getElementsByClassName("{{nutriente.nombre}}"+"Input")[1].style.display = 'none';
				document.getElementsByClassName("{{nutriente.nombre}}")[1].style.display = 'block';
				document.getElementById("editar_"+"{{nutriente.nombre}}").style.display = 'block';		
				document.getElementById("guardar_"+"{{nutriente.nombre}}").style.display = 'none';		
		{% endfor %}		
		document.getElementsByClassName(opcion)[0].style.display = 'none';
		document.getElementsByClassName(opcion+"Input")[0].style.display = 'block';		
		document.getElementsByClassName(opcion)[1].style.display = 'none';
		document.getElementsByClassName(opcion+"Input")[1].style.display = 'block';		
		document.getElementById("guardar_"+opcion).style.display = 'block';		
		document.getElementById("editar_"+opcion).style.display = 'none';		
	}
</script>

{{error_message}}
{% endblock %}
