{% extends "home.html" %}
{% load staticfiles %}

{% block pestana %}

	<table class="table table-striped table-hover table-condensed" >
  	<tr>
    	<th>Nutrientes</th>
    	<th>Cantidad en Gramos</th>
    	<th>Editar</th> 
    	<th>Borrar</th>
    </tr>
	{% for nutriente in nutrienteAlimento %}
	
    <form action="/guardar_nutrientesAlimento/" method="get">

      <tr>
		<td>
			<div>{{nutriente.nutriente}}</div>
		</td>
		<td>
			<div class ='{{nutriente.nutriente}}'>{{nutriente.cantidad_gr}}</div>
			<div class ='{{nutriente.nutriente}}Input' style = "display:none;" ><input type="text" name="{{nutriente.nutriente}}_cantidad_gr" value={{nutriente.cantidad_gr}} size=15></div>
		</td>
		<td>
			<div id="editar_{{nutriente.nutriente}}">
				<a onclick="editar('{{nutriente.nutriente}}')"><img style="width: 40px;" src="{% static "image/editar.png" %}" class="img-rounded"></a>
			</div>
			<div id="guardar_{{nutriente.nutriente}}" style="display: none;">
				<input style="background-image: url({% static "image/guardar.jpeg" %}); background-repeat: no-repeat; background-size: 100% 100%; color: white; height: 48px; width: 48px; border: hidden;" type="submit" value=" ">
			</div>
		</td>
		<td><a href="/eliminar_nutrientesAlimento/?pk={{nutriente.pk}}"><img style="width: 48px;" src="{% static "image/trash.png" %}" class="img-rounded"></a></td>
	   </tr>
	</form>	    	    
	
    {% endfor %}
    
	<form action="/guardar_nuevo_nutrientesAlimento/" method="get">    
    <tr>
		<td>
			<select name="nombre_nutriente">
				{% for nutriente in nutrientes_nuevo %}
						<option>{{nutriente.nombre}} </option>
				{% endfor %}
			</select> 
		</td>
		<td>
			<div style = "display:hide;" ><input type="text" name="nombre_cantidad_gr" value=0 size=20 required/></div>
		</td>
		<td><div id="guardar_nuevo" style="display: hide;">
				<input style="background-image: url({% static "image/guardar.jpeg" %}); background-repeat: no-repeat; background-size: 100% 100%; color: white; height: 48px; width: 48px; border: hidden;" type="submit" value=" ">
			</div>
			
		</td>
		<td></td>
    </tr>
   	</form>	    	    


	</table>
 <script type="text/javascript">
	function editar(opcion){
		{% for nutriente in nutrienteAlimento %}		
				document.getElementsByClassName("{{nutriente.nutriente}}"+"Input")[0].style.display = 'none';
				document.getElementsByClassName("{{nutriente.nutriente}}")[0].style.display = 'block';
				document.getElementById("editar_"+"{{nutriente.nutriente}}").style.display = 'block';		
				document.getElementById("guardar_"+"{{nutriente.nutriente}}").style.display = 'none';		
		{% endfor %}		
		document.getElementsByClassName(opcion)[0].style.display = 'none';
		document.getElementsByClassName(opcion+"Input")[0].style.display = 'block';			
		document.getElementById("guardar_"+opcion).style.display = 'block';		
		document.getElementById("editar_"+opcion).style.display = 'none';		
	}
</script>

{{error_message}}
{% endblock %}
