{% extends "home.html" %}
{% load staticfiles %}

{% block pestana %}
	<br>
	<div>Lista de reglas</div>
<!-- 	<br>
	{{reglas}}
	<br>
	{{precedentes}} -->
	<style type="text/css">
		.regla_body{
		}
		.regla_header{
			width: 100%;
			float: left;
		}
		.regla_precedente{
			margin-top: 20px;
			width: 100%;
			float:left;
		}
		.precedentes{
			float: left;
			width: auto;
			margin-left: 10px;
		}
		.consecuente{
			float: left;
			width: auto;
			margin-left: 10px;
		}
		.recomendacion{
			float: left;
			width: auto;
			margin-left: 10px;
		}
		.regla_consecuente{
			width: 100%;
			float:left;
		}
		.regla_recomendacion{
			width: 100%;
			float:left;
		}
		.titulos{
			float: left;
			width: 150px;

		}
		.buttons{
			padding-left: 10px;
			float: left;
			width: auto;
		}
		.regla{
			margin-top: 25px;
			float: left;
			width: auto;

		}
		.precedentes_input{
			display: none;
		}
		.consecuente_input{
			display: none;
		}
		.recomendacion_input{
			display: none;
		}
		
	</style>
	<div>
	<div style="width:100%; float:left;">
	{% for regla in reglas %}
		<form id="Form{{regla.pk}}" action="/guardar_reglas/" method="get" autocomplete="off">
		<div class ="regla">
			<div class="regla_header">
				<div class="titulos">
				{{regla.nombre}}
				</div>
				<div class="buttons {{regla.pk}}">
					<a onclick="editar('{{regla.pk}}')"><img style="width: 30px;" src="{% static "image/editar.png" %}"  class="img-rounded"></a>
				</div>
				<div class="buttons {{regla.pk}}Input"  style="display:none">
					<input style="background-image: url({% static "image/guardar.jpeg" %}); background-repeat: no-repeat; background-size: 100% 100%; color: white; height: 30px; width: 30px; border: hidden;" type="submit" value=" ">
				</div>
				<div class="buttons">
					<a href="eliminar_regla/?pk={{regla.pk}}"><img style="width: 30px;" src="{% static "image/trash.png" %}" class="img-rounded"></a>
				</div>
			</div>
			<div class="regla_body">
				<div class="regla_precedente">
					<div class="titulos">
						Precedente
					</div>
					<div class="{{regla.pk}}">
					{% for p in precedentes %}
						{% if p.regla.pk == regla.pk %}
							<div class="precedentes">
							{{p.precendente}}
							</div>
						{% endif %}
					{% endfor %}
					</div>
					<div class="precedentes_input {{regla.pk}}Input">
						{% for p in precedentes %}
							<div style="float:left;">
							{% if p.regla.pk == regla.pk %}
								<select name="precedentes_{{p.pk}}">
									{% for ne in nutrienteEtiqueta %}
										{% if p.precendente.pk == ne.pk %}
											<option value="{{ne.pk}}" selected>{{ne.nutriente}} {{ne.etiqueta}}</option>
										{% else %}
											<option value="{{ne.pk}}">{{ne.nutriente}} {{ne.etiqueta}}</option>
										{% endif %}
									{% endfor %}
								</select> 
							{% endif %}
							</div>
						{% endfor %}
						<div style="float:left; display:none;" class ="etiquetaNuevo{{regla.pk}}">
							<select class =disabled{{regla.pk}} name="nuevo_{{regla.pk}}" disabled="disabled">
								{% for ne in nutrienteEtiqueta %}
									<option value="{{ne.pk}}">{{ne.nutriente}} {{ne.etiqueta}}</option>
								{% endfor %}
							</select> 
						</div>
						<div class="buttons button_agregar{{regla.pk}}">
							<a onclick='visible("{{regla.pk}}")'><img style="width: 30px;" src="{% static "image/agregar.png" %}" class="img-rounded"></a>
						</div>
					</div>
				</div>
				<div class="regla_consecuente">
					<div class="titulos">
						Consecuente
					</div>
					<div class="consecuente {{regla.pk}}">
						{{regla.consecuente}}
					</div>
					<div class="consecuente_input {{regla.pk}}Input">
						<select name="consecuente_{{regla.pk}}">
							{% for ne in nutrienteEtiqueta %}
								{% if regla.consecuente.pk == ne.pk %}
									<option value="{{ne.pk}}" selected>{{ne.nutriente}} {{ne.etiqueta}}</option>
								{% else %}
									<option value="{{ne.pk}}">{{ne.nutriente}} {{ne.etiqueta}}</option>
								{% endif %}
							{% endfor %}
						</select> 
					</div>
				</div>
				<div class="regla_recomendacion">
					<div class="titulos">
						Recomendaciones
					</div>
					<div class="recomendacion {{regla.pk}}">
						{{regla.recomendacion}}
					</div>
					<div class="recomendacion_input {{regla.pk}}Input" style="width:100px;">
						<textarea rows="5" cols="100" name="recomendacion_{{regla.pk}}" form="Form{{regla.pk}}">{{regla.recomendacion}} 
						</textarea>
					</div>
				</div>
			</div>
		</div>
	</form>
	{% endfor %}
	</div>
	<div class="nueva_regla" style="width:100%; float;left">
	<form id="Form_nuevo_{{regla.pk}}" action="/guardar_nueva_regla/" method="get" autocomplete="off">
		<div class ="regla">
			<div class="regla_header">
				<div class="titulos">
				<input type="text" name="nombre" size=15 placeholder="Regla #" required>
				</div>
				<div class="buttons "  style="display:block">
					<input style="background-image: url({% static "image/guardar.jpeg" %}); background-repeat: no-repeat; background-size: 100% 100%; color: white; height: 30px; width: 30px; border: hidden;" type="submit" value=" ">
				</div>
			</div>
			<div class="regla_body">
				<div class="regla_precedente">
					<div class="titulos" style="width:30%">
						Precedente
					</div>
					<div class="precedentes_input " style="display:block;">
						<div style="float:left;">
							<select name="precedente">
								{% for ne in nutrienteEtiqueta %}
										<option value="{{ne.pk}}">{{ne.nutriente}} {{ne.etiqueta}}</option>
								{% endfor %}
							</select> 
						</div>
					</div>
				</div>
				<div class="regla_consecuente">
					<div class="titulos" style="width:30%">
						Consecuente
					</div>
					<div class="consecuente_input" style="display:block;">
						<select name="consecuente">
							{% for ne in nutrienteEtiqueta %}
								<option value="{{ne.pk}}">{{ne.nutriente}} {{ne.etiqueta}}</option>
							{% endfor %}
						</select> 
					</div>
				</div>
				<div class="regla_recomendacion">
					<div class="titulos" style="width:30%">
						Recomendaciones
					</div>
					<div class="recomendacion_input" style="display:block;">
						<textarea rows="5" cols="100" name="recomendacion" form="Form_nuevo_{{regla.pk}}">
						</textarea>
					</div>
				</div>
			</div>
		</div>
	</form>
	</div>
	</div>
 <script type="text/javascript">
	function editar(opcion){
		{% for regla in reglas %}		
				document.getElementsByClassName("{{regla.pk}}"+"Input")[0].style.display = 'none';
				document.getElementsByClassName("{{regla.pk}}")[0].style.display = 'block';
				document.getElementsByClassName("{{regla.pk}}"+"Input")[1].style.display = 'none';
				document.getElementsByClassName("{{regla.pk}}")[1].style.display = 'block';
				document.getElementsByClassName("{{regla.pk}}"+"Input")[2].style.display = 'none';
				document.getElementsByClassName("{{regla.pk}}")[2].style.display = 'block';
				document.getElementsByClassName("{{regla.pk}}"+"Input")[3].style.display = 'none';
				document.getElementsByClassName("{{regla.pk}}")[3].style.display = 'block';
		{% endfor %}		
		document.getElementsByClassName(opcion)[0].style.display = 'none';
		document.getElementsByClassName(opcion+"Input")[0].style.display = 'block';
		document.getElementsByClassName(opcion+"Input")[1].style.display = 'block';
		document.getElementsByClassName(opcion)[1].style.display = 'none';
		document.getElementsByClassName(opcion+"Input")[2].style.display = 'block';
		document.getElementsByClassName(opcion)[2].style.display = 'none';
		document.getElementsByClassName(opcion+"Input")[3].style.display = 'block';
		document.getElementsByClassName(opcion)[3].style.display = 'none';
	}
	function visible(opcion){
		document.getElementsByClassName('etiquetaNuevo'+opcion)[0].style.display = 'block';
		document.getElementsByClassName('disabled'+opcion)[0].removeAttribute('disabled');
		document.getElementsByClassName('button_agregar'+opcion)[0].style.display = 'none';
	}
</script>
{{error_message}}
{% endblock %}
